# Django-specific
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Env
.env
*.env
.env.* 
*.sqlite3

# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
.Python
build/
develop-eggs/
dist/
.eggs/
*.manifest
*.spec

# MacOS
.DS_Store
